---
layout: page
title: Kettle Soup Cover Blog
permalink: /kettle-soup-cover/
---

<h1>Kettle Soup Cover Blog</h1>

<p>Code coverage insights and best practices.</p>

<div class="posts-list">
  <% collections.kettle_soup_cover.resources.sort_by(&:date).reverse.each do |post| %>
    <article class="post-item">
      <h2><a href="<%= post.relative_url %>"><%= post.data.title %></a></h2>
      <time datetime="<%= post.date.strftime('%Y-%m-%d') %>">
        <%= post.date.strftime('%B %d, %Y') %>
      </time>
      <% if post.data.excerpt %>
        <p><%= post.data.excerpt %></p>
      <% end %>
    </article>
  <% end %>
</div>

<style>
  .posts-list {
    margin-top: 2rem;
  }
  
  .post-item {
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .post-item:last-child {
    border-bottom: none;
  }
  
  .post-item h2 {
    margin: 0 0 0.5rem 0;
  }
  
  .post-item h2 a {
    color: #333;
    text-decoration: none;
  }
  
  .post-item h2 a:hover {
    color: #1976d2;
  }
  
  .post-item time {
    display: block;
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .post-item p {
    color: #666;
    line-height: 1.6;
  }
</style>
