---
layout: page
title: Tech Posts
permalink: /posts/
pagination:
  enabled: true
  collection: all
  per_page: 25
  sort_field: date
  sort_reverse: true
  trail:
    before: 3
    after: 3
---

<% if paginator %>
  <div class="posts-list">
    <% paginator.each do |post| %>
      <article class="post-item">
        <h2><a href="<%= post.relative_url %>"><%= post.data.title %></a></h2>
        <div class="post-meta">
          <time datetime="<%= post.date.strftime('%Y-%m-%d') %>">
            <%= post.date.strftime('%B %d, %Y') %>
          </time>
          <% if post.collection.label != 'posts' %>
            <span class="post-collection">
              in <a href="/<%= post.collection.label.tr('_', '-') %>"><%= post.collection.label.tr('_', ' ').split.map(&:capitalize).join(' ') %></a>
            </span>
          <% end %>
        </div>
        <% if post.data.excerpt %>
          <p class="post-excerpt"><%= post.data.excerpt %></p>
        <% end %>
      </article>
    <% end %>
  </div>

  <% if paginator.total_pages > 1 %>
    <nav class="pagination" aria-label="Pagination">
      <div class="pagination__links">
        <% if paginator.previous_page %>
          <a href="<%= paginator.previous_page_path %>" class="pagination__link pagination__link--prev" rel="prev">
            &laquo; Previous
          </a>
        <% else %>
          <span class="pagination__link pagination__link--prev pagination__link--disabled">&laquo; Previous</span>
        <% end %>

        <% if paginator.page_trail %>
          <span class="pagination__numbers">
            <% if paginator.page > 4 %>
              <a href="<%= paginator.first_page_path %>" class="pagination__link">1</a>
              <span class="pagination__ellipsis">&hellip;</span>
            <% end %>

            <% paginator.page_trail.each do |trail| %>
              <% if trail.num == paginator.page %>
                <span class="pagination__link pagination__link--current" aria-current="page"><%= trail.num %></span>
              <% else %>
                <a href="<%= trail.path %>" class="pagination__link"><%= trail.num %></a>
              <% end %>
            <% end %>

            <% if paginator.page < paginator.total_pages - 3 %>
              <span class="pagination__ellipsis">&hellip;</span>
              <a href="<%= paginator.last_page_path %>" class="pagination__link"><%= paginator.total_pages %></a>
            <% end %>
          </span>
        <% end %>

        <% if paginator.next_page %>
          <a href="<%= paginator.next_page_path %>" class="pagination__link pagination__link--next" rel="next">
            Next &raquo;
          </a>
        <% else %>
          <span class="pagination__link pagination__link--next pagination__link--disabled">Next &raquo;</span>
        <% end %>
      </div>

      <div class="pagination__info">
        Page <%= paginator.page %> of <%= paginator.total_pages %>
        &middot; <%= paginator.total_documents %> posts total
      </div>
    </nav>
  <% end %>
<% else %>
  <p>No tech posts found.</p>
<% end %>
